__pycache__/
*.py[cod]
*$py.class
build/
dist/
*.so
.Python
env/
develop-eggs/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
venv/
ENV/
.vs/
.vscode/
.idea/
*.spec
!piQ.spec 